.setting-root{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.left-root{
	width: 200px;
	min-width: 200px;
	display: flex;
	position: fixed;
	left: 0;
	top: 60px;
	flex-direction: column;
	height: 100vh;
	.left-item{
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 60px;
		.item-icon{
			width: 30px;
			margin-left: 10px;
			margin-right: 10px;
		}
		.item-name{
			color: white;
			font-weight: bold;
		}
	}
	.left-item-active{
		background-color: #17606e !important;
	}
	.divider{
		width: 100%;
		height: 1px;
		background-color: #999999;
	}
}
.right-root{
	margin-top: 60px;
	margin-left: 200px;
	min-width: 500px;
	width: 100%;
	display: flex;
	flex-direction: column;
	
}