@font-face {
  font-family: "nasIcons"; /* Project id 3592611 */
  src: url('iconfont.woff2?t=1693716126386') format('woff2'),
       url('iconfont.woff?t=1693716126386') format('woff'),
       url('iconfont.ttf?t=1693716126386') format('truetype');
}

.nasIcons {
  font-family: "nasIcons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-network:before {
  content: "\e99d";
}

.icon-ziliaoku:before {
  content: "\e601";
}

.icon-xihuan-shi:before {
  content: "\e65e";
}

.icon-list:before {
  content: "\e6b9";
}

.icon-filter:before {
  content: "\e68a";
}

.icon-grid:before {
  content: "\e659";
}

.icon-sort-alpha-down-alt:before {
  content: "\eb9b";
}

.icon-sort-alpha-up:before {
  content: "\eb9c";
}

.icon-exif-info:before {
  content: "\e600";
}

.icon-download:before {
  content: "\e615";
}

.icon-back:before {
  content: "\e6a9";
}

.icon-music:before {
  content: "\e631";
}

.icon-hd:before {
  content: "\e6b8";
}

.icon-subtitles:before {
  content: "\e6fc";
}

.icon-sound-off:before {
  content: "\e630";
}

.icon-play-speed:before {
  content: "\e655";
}

.icon-pause:before {
  content: "\e63d";
}

.icon-fullscreen:before {
  content: "\e63e";
}

.icon-exit-fullscreen:before {
  content: "\e63f";
}

.icon-microphone:before {
  content: "\e640";
}

.icon-play:before {
  content: "\e641";
}

.icon-video-last:before {
  content: "\e642";
}

.icon-video-next:before {
  content: "\e643";
}

.icon-sound-on:before {
  content: "\e644";
}

.icon-settings:before {
  content: "\e645";
}

.icon-share:before {
  content: "\e869";
}

.icon-custome:before {
  content: "\e7e8";
}

.icon-link:before {
  content: "\e63b";
}

.icon-movie-collection:before {
  content: "\e7e3";
}

.icon-movie-history:before {
  content: "\e63a";
}

.icon-24gf-folderPlus:before {
  content: "\eac5";
}

.icon-radio-checked:before {
  content: "\e763";
}

.icon-radio-unchecked:before {
  content: "\e764";
}

.icon-livezhaopian:before {
  content: "\e679";
}

.icon-yuanchengkongzhi:before {
  content: "\e716";
}

.icon-bianji:before {
  content: "\e62f";
}

.icon-face-detect:before {
  content: "\e62d";
}

.icon-coco-class:before {
  content: "\e62e";
}

.icon-bg-admin:before {
  content: "\e62b";
}

.icon-msg-error:before {
  content: "\e619";
}

.icon-position:before {
  content: "\e629";
}

.icon-avatar:before {
  content: "\e62a";
}

.icon-msg-list:before {
  content: "\e616";
}

.icon-img-folder:before {
  content: "\e614";
}

.icon-setting-user:before {
  content: "\e617";
}

.icon-file-list:before {
  content: "\e618";
}

.icon-file-recent:before {
  content: "\e60d";
}

.icon-file-collect:before {
  content: "\e612";
}

.icon-upload:before {
  content: "\e613";
}

.icon-add-album:before {
  content: "\e61a";
}

.icon-white-list:before {
  content: "\e61b";
}

.icon-log:before {
  content: "\e61c";
}

.icon-ftp:before {
  content: "\e61d";
}

.icon-black-list:before {
  content: "\e61e";
}

.icon-folder:before {
  content: "\e61f";
}

.icon-security:before {
  content: "\e620";
}

.icon-backup:before {
  content: "\e621";
}

.icon-vip:before {
  content: "\e622";
}

.icon-setting-common:before {
  content: "\e623";
}

.icon-movies-source:before {
  content: "\e624";
}

.icon-photos-source:before {
  content: "\e625";
}

.icon-movies-library:before {
  content: "\e626";
}

.icon-webdav:before {
  content: "\e627";
}

.icon-setting-system:before {
  content: "\e628";
}

.icon-search:before {
  content: "\e62c";
}

.icon-img-selected:before {
  content: "\e606";
}

.icon-timeline:before {
  content: "\e607";
}

.icon-recent:before {
  content: "\e608";
}

.icon-img-layout-b:before {
  content: "\e609";
}

.icon-folder-iew:before {
  content: "\e60a";
}

.icon-normal-album:before {
  content: "\e60b";
}

.icon-trash:before {
  content: "\e60c";
}

.icon-tools:before {
  content: "\e60e";
}

.icon-footprint:before {
  content: "\e60f";
}

.icon-img-layout-a:before {
  content: "\e610";
}

.icon-ai-album:before {
  content: "\e611";
}

.icon-iconxiangyoukedianjibeifen:before {
  content: "\e605";
}

