$nas-main: #386DF2;
$nas-second:#BAC8D8;
$nas-red:#DE4545;
$nas-grey: #99AABF;
$nas-text-title: #333333;
$nas-text-content:#BAC8D8;
$nas-text-grey:#999999;

//修复vuesax dialog滚动在移动端下面空一块的问题
::v-deep .vs-dialog__content{
	max-height: 80vh;
}
